<div id="<%= dom_id resume_info %>">
  <p>
    <strong>Name:</strong>
    <%= resume_info.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= resume_info.description %>
  </p>

  <p>
    <strong>About:</strong>
    <%= resume_info.about %>
  </p>

  <p>
    <strong>Looking:</strong>
    <%= resume_info.looking %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= resume_info.birthday %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%= resume_info.picture %>
  </p>

</div>
