<div id="<%= dom_id resume_info %>">

  <p>
    <strong>Name:</strong>
    <%= resume_info.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= resume_info.description %>
  </p>

  <p>
    <strong>About:</strong>
    <%= resume_info.about %>
  </p>

  <p>
    <strong>Looking:</strong>
    <%= resume_info.looking %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= resume_info.birthday %>
  </p>

  <p>
    <strong>Picture:</strong>
    <% if resume_info.picture.representable? %>
      <%= image_tag resume_info.picture %>
    <% end %>
  </p>


  <p>
    <strong>CV:</strong>
    <%= link_to 'Download CV', resume_info.file_cv, target: '_blank' if resume_info&.file_cv&.attached? %>
  </p>

</div>
