<div class="wrapper-div form-row" style="display: flex; padding: 3px;">
  <div class="form-group col-md-3" >
    <%= form.hidden_field :_destroy %>

    <%= form.input :phone_number, class: '', style: "", as: :numeric %>
  </div>

  <div class="form-group col-md-3" >
    <%= form.input :phone_type, as: :select, collection: ResumePhone.list_types, include_blank: false %>
  </div>

  <div class="form-group col-md-2" style="; text-align: center;">
    <%= form.label ' ' %>
    <%= form.input :show, as: :boolean, :input_html => {checked: form.object.new_record? || form.object.show?}, style: 'align-self-center; margin-top: 17px;', label: 'Show Phone' %>
  </div>

  <div class="form-group col-md-2" style="text-align: center;">
    <%= form.label ' ' %>
    <%= form.input :whatsapp, as: :boolean, :input_html => {checked: form.object.new_record? || form.object.show?}, style: 'align-self-center; margin-top: 17px;' %>
  </div>

  <div class="form-group col-md-2 align-self-center " style="margin-top: 20px; ">
    <%= link_to_remove_nested(form, link_text: "Remove Phone", link_classes: 'btn btn-danger', fields_wrapper_selector: '.wrapper-div') %>
  </div>

</div>