<div class="col-3" style="border: 0px solid red">
  <p>
    <span class="personal-detail-title">Date of birth</span>
    <span class="personal-detail-info"><%= @resume_info.birthday.to_date.to_fs(:long) %>
      (<%= age(@resume_info.birthday.to_date) %> years)</span>
  </p>


  <% if @resume_info.resume_languages.present? %>
    <p>
      <span class="personal-detail-title">Spoken Langages:</span>
      <% for resume_language in @resume_info.resume_languages do %>
        <% language_level = resume_language.level.to_i * 20 %>

        <span class="personal-detail-info">
              <%= resume_language.language.icon %> <%= resume_language.language.name %>
            </span>
      <% end %>
    </p>
  <% end %>

  <% unless @resume_info.location.blank? %>
    <p>
      <span class="personal-detail-title">Location:</span>
      <span class="personal-detail-info">
            <%= @resume_info.location %>
          </span>
    </p>
  <% end %>

  <% unless @resume_info.time_zone.blank? %>
    <p>
      <span class="personal-detail-title">Time Zone:</span>
      <span class="personal-detail-info">
            <%= @resume_info.time_zone %>
          </span>
    </p>
  <% end %>

  <% unless @resume_info.schedule.blank? %>
    <p>
      <span class="personal-detail-title">Available Hours:</span>
      <span class="personal-detail-info">
            <%= @resume_info.schedule %>
          </span>
    </p>
  <% end %>

  <% if @resume_info&.file_cv&.attached? %>
    <%= link_to 'Download CV', @resume_info.file_cv, target: '_blank', class: "btn btn-sm btn-soft-primary" %>
  <% else %>
    <%= link_to 'Download CV', 'CV Helio Borges.pdf', target: '_blank', class: "btn btn-sm btn-soft-primary" %>
  <% end %>


</div><!--end col-->