<div class="resume-icon">
  <i class="uil uil-lightbulb-alt"></i>
  <h5 class="mt-n2">Skills</h5>
</div><!--end skills-icon-->

<div class="timeline" style="border: 0">
  <% for skill in @resume_info.resume_skills.order(level: :desc, id: :asc) do %>

    <div class="skills mt-4 " title="<%= skill.description %>">
      <div class="skill-box">
        <h4 class="skill-title time-item" style="padding-left: 10px; margin-bottom: 3px;">
          <%= skill.name %>
        </h4>
        <div class="progress-line" style="margin-left: 10px;">
                        <span data-percent="<%= skill.level %>" style="width: <%= skill.level %>%;">
                          <span class="percent-tooltip">
                              <%= skill.level %>%
                          </span>
                        </span>
        </div>
      </div><!--end skill-box-->
    </div>
  <% end %>

</div><!--end col-->