
<div class="main-wraper" style="background-color: #1a253f; margin-top: 80px;">

  <%= render 'head' %>

  <%= render 'about' %>

  <%= render 'career' %>

  <%#= render 'highlight' %>

  <%#= render 'experience' %>

  <%= render 'contact' %>

  <%= render 'footer' %>

</div>