<div class="main-wraper" style="background-color: #1a253f; margin-top: 80px;">

  <%= render 'layouts/head' %>

  <%= render 'layouts/about' %>

  <%= render 'layouts/education' %>

  <%= render 'layouts/highlight' %>

  <%= render 'layouts/experience' %>

  <%= render 'layouts/contact' %>

  <%= render 'layouts/footer' %>

</div>