<div class="main-wraper" style="background-color: #1a253f; margin-top: 80px;">

  <%= render 'head' %>

  <%= render 'about' %>
  <hr>
  <%= render 'career' %>
  <hr>
  <%#= render 'highlight' %>
  <!--  <hr>-->
  <%#= render 'experience' %>
  <!--  <hr>-->
  <%= render 'contact' %>

  <%= render 'footer' %>

</div>