<div class="main-wraper" style="background-color: #1a253f; margin-top: 80px;">

  <%= render 'head' %>

  <%= render 'about' %>
  <hr>
  <%= render 'career' %>
  <hr>
  <%#= render 'highlight' %>
  <!--  <hr>-->
  <%#= render 'experience' %>
  <!--  <hr>-->
  <%= render 'contact' %>

  <%= render 'footer' %>

</div>

<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/js/bootstrap.min.js"></script>
<script>if ($('body').popover) { document.write('bootstrap loaded from cdn') }
else { document.write('cdn bootstrap failed, going local');
    document.write('<script src="js/vendor/bootstrap.min.js"><\/script>') }
</script>