<section class="section-md">
  <div class="container">

    <div class="row" style="border: 0px solid green">

      <div class="col-9" style="border: 0px solid blue">
        <h4 class="header-title mb-3">About me!</h4>

        <div class="col-sm-12 col-print-12">
          <h4 class="text-primary font-weight-bold">Hi, I'm <%= @resume_info.name %></h4>

          <p>
            <%= @resume_info.about * 20 %>
          </p>

          <br>

          <h4 class="text-primary font-weight-bold">I'm looking for:</h4>
          <p>
            <%= @resume_info.looking %>
          </p>

        </div><!--end col-->

      </div><!--end col-->


      <div class="col-3" style="border: 0px solid red">
        <!--      <span class="col-sm-5 col-print-5 offset-lg-1 align-self-center" style="border: 1px solid red">-->
        <!--        <p>-->
        <!--          <span class="personal-detail-title">Name</span>-->
        <!--          <span class="personal-detail-info"><%#= @resume_info.name %></span>-->
        <!--        </p>-->

        <p>
          <span class="personal-detail-title">Date of birth</span>
          <span class="personal-detail-info"><%= @resume_info.birthday.to_date.to_fs(:long) %></span>
        </p>


        <p>
          <span class="personal-detail-title">Spoken Langages:</span>
          <% for resume_language in @resume_info.resume_languages do %>
            <% language_level = resume_language.level.to_i * 20 %>

            <span class="personal-detail-info">
              <%= resume_language.language.icon %> <%= resume_language.language.name %>
            </span>

            <!--            <div class="skills">-->
            <!--              <div class="skill-box">-->
            <!--                <div class="progress-line">-->
            <!--                                        <span data-percent="95" style="width: <%#=language_level %>%;">-->

            <!--                                        </span>-->
            <!--                  <span class="percent-tooltip"><%#= language_level %>%</span>-->
            <!--                </div>-->
            <!--              </div>-->
            <!--            </div>-->

          <% end %>
        </p>

        <p>
          <span class="personal-detail-title">Location:</span>
          <span class="personal-detail-info">
            <%= @resume_info.location %>
          </span>
        </p>

        <p>
          <span class="personal-detail-title">Time Zone:</span>
          <span class="personal-detail-info">
            <%= @resume_info.time_zone %>
          </span>
        </p>

        <p>
          <span class="personal-detail-title">Available Hours:</span>
          <span class="personal-detail-info">
            <%= @resume_info.schedule %>
          </span>
        </p>

        <!--        <p>-->
        <!--          <span class="personal-detail-title">Interest</span>-->
        <!--          <span class="personal-detail-info">Music, Reading, journey</span>-->
        <!--        </p>-->

        <%= link_to 'Download CV', @resume_info.file_cv, target: '_blank', :class => "btn btn-sm btn-soft-primary" if @resume_info&.file_cv&.attached? %>
        <!--          </span>-->

      </div><!--end col-->
    </div><!--end row-->
  </div>
</section><!--end section-->