<section class="section-md contact-form" id="contact_div">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-3">
        <h4 class="header-title mb-3">Contact Me</h4>
      </div> <!--end col-->
      <div class="col-sm-4">
        <div class="contact-info">
          <div class="icon">
            <i class='uil uil-phone-volume'></i>
          </div>
          <div class="content">
            <h5>Free Call To Me:</h5>

            <% for resume_phone in @resume_info.resume_phones do %>
              <% if resume_phone.show %>
                <span>
                  <b> <%= resume_phone.phone_type %></b>: <%= resume_phone.phone_number %>
                  <%= link_to "https://api.whatsapp.com/send?l=pt_BR&phone=#{resume_phone.phone_number}", class: "bg-icon-ball-small bg-whatsapp" do %>
                    <%= icon('fa-brands', "whatsapp") %>
                  <% end %>
                </span>
                <br>
              <% end %>
            <% end %>

          </div>
        </div><!--end contact-info-->

        <div class="contact-info">
          <div class="icon">
            <i class='uil uil-envelope'></i>
          </div>
          <div class="content">
            <h5>Mail Me:</h5>

            <% for resume_email in @resume_info.resume_emails do %>
              <% if resume_email.show %>
                <span>
                  <b> <%= resume_email.email_type %> Email </b>:
                  <%= resume_email.email %>
                </span>
                <br>
              <% end %>
            <% end %>

          </div>
        </div><!--end contact-info-->

        <% if @resume_info.location %>
          <div class="contact-info">
            <div class="icon">
              <i class='uil uil-map-marker'></i>
            </div>
            <div class="content">
              <h5>I'm Located in:</h5>
              <span><%= @resume_info.location %></span>
            </div>
          </div><!--end contact-info-->

        <% end %>

      </div><!--end col-->


      <div class="col-sm-8">
        <div class="contact-form">

          <div id="message"></div>

          <%= simple_form_for(@contact, :url => {:controller => 'home', :action => "send_message" , :anchor => "contact_div" }) do |form| %>
            <%= form.error_notification %>
            <%= form.error_notification message: form.object.errors[:base].to_sentence if form.object.errors[:base].present? %>

            <div id="alert">
              <% if notice %>
                <p class="alert alert-success"><%= notice %></p>
              <% end %>
              <% if @contact and @contact.errors and @contact.errors.size > 0 %>
                <p class="alert alert-danger"><%= @contact.errors.full_messages.to_sentence %></p>
              <% end %>
            </div>


            <div class="row">
              <div class="form-group col-md-6">
                <label>Your Name</label>
                <!--                <input type="text" name="name" class="form-control" id="name">-->
                <%= h form.text_field :name, { :label => 'Your Name', :class => "form-control", :style => "  ", :placeholder => "" } %>
              </div><!--end col-->

              <div class="form-group col-md-6">
                <label>Your Email address</label>
                <%= h form.text_field :email, { :label => 'Your E-mail', :class => "form-control", :style => "  ", :placeholder => "" } %>
              </div><!--end col-->

              <div class="form-group col-md-12">
                <label>Your Message</label>
                <%= h form.text_field :message, { :label => 'Your Message', :class => "form-control", :style => "  ", :placeholder => "" } %>
              </div><!--end col-->

              <br>
              <br>

              <div class="form-group col-md-12" style="padding-top: 10px;">
                <%= form.submit 'Send Message', class: 'btn btn-primary px-5 py-2' %>

              </div><!--end col-->

            </div><!--end row-->
          <% end %>

        </div><!--end contact-form-->
      </div><!--end col-->
    </div><!--end row-->
  </div><!--end container-->
</section><!--end section-->

<section class="section-md thanks-text">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="text-center">Thank you !</h3>
      </div> <!--end col-->
    </div><!--end row-->
  </div><!--end container-->
</section><!--end section-->