<section class="section bg-profile" style="background-color: black">
  <div class="zoo-profile">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-print-6 align-self-center mb-3 mb-lg-0">
          <div class="zoo-profile-main">
            <div class="zoo-profile-main-pic">
              <%= image_tag @resume_info.picture, class: "rounded-circle" %>
            </div>

            <div class="zoo-profile_user-detail">
              <h3 class="zoo-user-name"><%= @resume_info.name %></h3>
              <!--              <p class="cd-headline loading-bar">-->
              <div class=" ">
                <p><%= @resume_info.description %> </p>
                <!-- <b>Angular Developer</b>-->
                <!-- <b>React Native Developer</b>-->
              </div>
              <!--              </p>-->
            </div><!--end zoo-profile_user-detail-->
          </div> <!--end profile-main-pic-->
        </div><!--end col-->


        <div class="col-sm-4 col-print-4 ml-auto">

          <h3>Contact Me:</h3>
          <ul class="list-unstyled personal-detail">

            <% for resume_phone in @resume_info.resume_phones do %>
              <% if resume_phone.show %>
                <li>
                  <i class="'uil uil-phone-volume mr-2"></i>
                  <b> <%= resume_phone.phone_type %></b>: <%= resume_phone.phone_number %>
                  <% if resume_phone.whatsapp %>
                    <%= link_to "https://api.whatsapp.com/send?l=pt_BR&phone=#{resume_phone.phone_number}", class: "bg-icon-ball-small bg-whatsapp" do %>
                      <%= icon('fa-brands', "whatsapp") %>
                    <% end %>
                  <% end %>

                </li>
              <% end %>
            <% end %>

            <% for resume_email in @resume_info.resume_emails do %>
              <% if resume_email.show %>
                <li class="mt-2">
                  <i class="uil uil-envelope mt-2 mr-2"></i>
                  <b> <%= resume_email.email_type %> E-mail </b>:
                  <%= resume_email.email %>
                </li>
              <% end %>
            <% end %>
            <!-- <li class="mt-2"><i class="uil uil-location-point  mt-2 mr-2"></i> <b>Location</b> : USA</li> -->
          </ul><!--end personal-detail-->


          <ul class="list-inline social-icon mb-0">
            <% for resume_social_network in @resume_info.resume_social_networks do %>
              <% if resume_social_network.show %>
                <li class="list-inline-item">
                  <%= link_to resume_social_network.url, class: "bg-icon-ball bg-#{resume_social_network.social_network.icon.downcase}" do %>
                    <%= icon('fa-brands', "#{resume_social_network.social_network.icon}") %>
                  <% end %>

                </li>
              <% end %>
            <% end %>

          </ul><!--end social-icon-->

        </div><!--end col-->
      </div><!--end row-->
    </div><!--end container-->
  </div><!--end zoo-profile-->
</section><!--end section-->